<!DOCTYPE html>
<html>
    <script src="resources/js/angular.js"></script>
    <script src="resources/js/angular-route.js"></script>

	<script src="resources/js/module/app.module.js"></script>

	<script src="resources/js/module/menu.module.js"></script>
	<script src="resources/js/controller/menu.controller.js"></script>

	<script src="resources/js/module/categoria.module.js"></script>
	<script src="resources/js/controller/categoria.controller.js"></script>
	<script src="resources/js/service/categoria.service.js"></script>

	<script src="resources/js/module/produto.module.js"></script>
	<script src="resources/js/controller/produto.controller.js"></script>
	<script src="resources/js/service/produto.service.js"></script>
	
	<link rel="stylesheet" href="resources/css/menu.css">

    <body ng-app="app">
		<div ng-controller="menuCtrl">
			<div>
				<ul id="menu">
					<li ng-repeat="item in menu" ng-click='redirect(item.link)'>
						{{item.titulo}}
					</li>
				</ul>
			</div>
		</div>
			
		<div ng-view></div>	
	</body>
</html>
